<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>
    <%= button_to "Destroy this order", @order, method: :delete %>

  <hr>
  <%= button_to "Jdu balit zasilku", orders_path %>
  <%= button_to "zasilka hotovo, odeslana", orders_path %>
</div>
