<%= form_with(model: tracking_number) do |form| %>
  <% if tracking_number.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tracking_number.errors.count, "error") %> prohibited this tracking_number from being saved:</h2>

      <ul>
        <% tracking_number.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :carrier, style: "display: block" %>
    <%= form.text_field :carrier %>
  </div>

  <div>
    <%= form.label :tracking_number, style: "display: block" %>
    <%= form.text_field :tracking_number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
