<%= form_with(model: billing) do |form| %>
  <% if billing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(billing.errors.count, "error") %> prohibited this billing from being saved:</h2>

      <ul>
        <% billing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :cod, style: "display: block" %>
    <%= form.check_box :cod %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
