<div id="<%= dom_id product %>">
  <p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= product.short_name %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= product.barcode %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= product.unit %>
  </p>

  <p>
    <strong>Wight brutto:</strong>
    <%= product.wight_brutto %>
  </p>

  <p>
    <strong>Weight netto:</strong>
    <%= product.weight_netto %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= product.volume %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= product.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= product.height %>
  </p>

  <p>
    <strong>Depth:</strong>
    <%= product.depth %>
  </p>

  <p>
    <strong>Units in box:</strong>
    <%= product.units_in_box %>
  </p>

  <p>
    <strong>Boxes on pallete:</strong>
    <%= product.boxes_on_pallete %>
  </p>

</div>
